/* ----------------- */
body {
  font-family: "CMU Serif", "Georgia", serif;
  background-color: #0f111a;
  color: #e0e6f0;
  padding: 2em;
  max-width: 900px;
  margin: auto;
  line-height: 1.7;
}

h1, h2, h3 {
  color: #2c7824;
  border-bottom: 1px solid #282c34;
}

a {
  color: #80cbc4;
}

code, pre {
  background: #1c1f2b;
  color: #c3e88d;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  font-family: "JetBrains Mono", monospace;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  white-space: normal;
  word-break: break-word;
}
.katex-display::-webkit-scrollbar {
  display: none;
}
